h1{
    background-color: rgb(116, 220, 255);
    color: rgb(0, 0, 0);
    text-align: center;
} 
h2{
    background-color: rgb(253, 66, 33);
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

ul{
    font-style: italic;
    text-shadow: 2px 2px 4px rgb(255, 0, 0);
}

ol{
    text-shadow: 2px 2px 4px rgb(0, 0, 255);
} 