html,body,header,nav,a,* {
    font-family: Helvetica, Arial, sans-serif;
}
header {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover {
    color: #ffdd57;
}
.caja {
    flex-direction: row;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    width: 500px;
    background-color: lightsalmon;
    }

    .container {
    display: flex;
    width: 88%;
    margin: auto;
    padding: 20px; /* Valor más razonable que 288% */
    background-color: lightgreen;
    border: 3px double darkred;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    vertical-align: middle;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  flex: 1 1 30%;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}


.item {
    background-color: lightyellow;
    width: 108px;
    height: 100px;
    border: 1px solid blue;
}

.cont1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.columna {
    display: flex;
    border: 1px solid black;
    margin: 5px;
    height: 100px;
    border: 1px solid black;
    width: 32%;
    align-items: center;
    justify-content: center;
}
