html {
    font-family: Helvetica;
}
    header {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}
nav a:hover {
    color: #ffdd57;
}

div{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-size: 80Px 80px;
}
#div1 {
    background-image: url('../img/pou.jpg');
    background-repeat: no-repeat;
    background-position: center center;

}
#div2 {
    background-image: url('../img/pou.jpg');
    background-repeat: repeat-x;
    background-position: left bottom;
}
#div3 {
   
    background-image: url('../img/pou.jpg');
    background-repeat: repeat-y;
    background-position: right top;
}
